.formAddTask {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
}

.taskInputs {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.lineInput1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.labelTaskName {
    margin-bottom: 15px;
    position: relative;
}

.inputTaskName+span {
    background-color: white;
    box-sizing: border-box;
    font-size: 0.8rem;
    height: 1rem;
    left: 8px;
    margin-bottom: 10px;
    position: absolute;
    top: -8px;
    width: 30px;
}

#taskName {
    box-sizing: border-box;
    height: 2rem;
    min-width: 475px;
    padding: 3px;
    text-align: bottom;
    width: 100%;
}

.labelDescription {
    position: relative;
    width: 100%;
}

.inputDescription+span {
    background-color: white;
    font-size: 0.70rem;
    height: 1rem;
    left: 8px;
    margin-bottom: 10px;
    position: absolute;
    top: -9px;
    width: 75px;
}

#description {
    box-sizing: border-box;
    height: 2rem;
    min-width: 475px;
    padding: 3px;
    position: relative;
    width: 100%;
}

.labelPriority {
    position: relative;
}

.inputPriority+span {
    background-color: white;
    font-size: 0.8rem;
    height: 1rem;
    left: 8px;
    margin-bottom: 10px;
    padding: 5px;
    position: absolute;
    top: -13px;
    width: 40px;
}

#priority {
    box-sizing: border-box;
    height: 30px;
    padding: 2px;
    text-align: right;
    width: 136px;
}

.buttonAddTask {
    align-self: center;
    background-color: rgb(4, 139, 38);
    border: none;
    border-radius: 10px;
    box-shadow: 7px 5px 5px black;
    color: white;
    cursor: pointer;
    font-weight: bold;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
    transition-duration: 0.4s;
    width: 200px;
}

.buttonAddTask:hover {
    align-self: center;
    background-color: rgb(3, 85, 23);
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;    
    font-weight: bold;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 200px;
}

.buttonAddTask:active {
    align-self: center;
    background-color: rgb(165, 74, 22);
    border: none;
    border-radius: 10px;
    box-shadow: 5px 2px 5px black;
    cursor: pointer;    
    color: white;
    font-weight: bold;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
    transition-duration: 0.4s;
    width: 200px;
}