.todoList {
    width: 750px;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tasks {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.inProgress {
    width: 45%;
}

.done {
    width: 45%;
}